{% extends 'Base.html' %}
{% load thumbnail %}
{% load pollstrags %}
{% load render_partial %}

{% block title %}

{% endblock %}
{% block contuct %}
    <section class="">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card" style="width:800px">
                        <div class="rounded-top text-white d-flex flex-row" style="background: black">
                            <div class="ms-4 mt-5 d-flex flex-column">
                                <img src="{{ user.avatar.url }}"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                                <a href="{{ user.Resume_Link }}" class="btn btn-outline-dark"
                                   data-mdb-ripple-color="dark"
                                   style="z-index: 1;">
                                    رزمه من
                                </a>
                            </div>

                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>{{ user.get_full_name }}</h5>
                                <p>{{ user.short_descriptio }}</p>
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">

                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">درباره من</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">{{ user.about_user }}</p>

                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">آموزش های من</p>

                            </div>
                            <div class="row portfolio-gallary" style="position: relative; height: 562.5px;"
                                 style="position: absolute; right: 0%; top: 0px;">
                                {% for Product in Products %}
                                    {% for fool in Product %}
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item ">

                                            <div class="portfolio-wrap portfolio-inner">
                                                <a href="{% url 'product-d' slug=fool.slug %}">
                                                    {% thumbnail fool.images "268x250" quality=95 '' as im %}
                                                        <img src="{{ im.url }}" alt="">
                                                    {% endthumbnail %}</a>
                                                <div class="label">
                                                    <div class="label-text">
                                                        <a href="{% url 'product-d' slug=fool.slug %}"
                                                           class="text-title">{{ fool.title }}</a>
                                                        <span class="lead-i">{{ fool.price | three_digits_currency }}</span>

                                                    </div>
                                                    <div class="label-bg">
                                                        <p class="m-t-40 m-r-40"><a
                                                                href="{% url 'master_profile' pk=fool.author.id %}"
                                                                class="fa fa-pencil">{{ fool.author.get_full_name }}</a>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    {% endfor %}

                                {% endfor %}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
